export LIBNX=$PWD/lib/libnx/nx
export LIBVAPOURS=$PWD/lib/libatmosphere/libvapours
export LIBEXOSPHERE=$PWD/lib/libatmosphere/libexosphere
export LIBMESOSPHERE=$PWD/lib/libatmosphere/libmesosphere
export LIBSTRATOSPHERE=$PWD/lib/libatmosphere/libstratosphere
