[submodule "lib/libnx"]
	path = lib/libnx
	url = git@github.com:switchbrew/libnx.git
	branch = master
[submodule "lib/libatmosphere"]
	path = lib/libatmosphere
	url = git@github.com:Atmosphere-NX/Atmosphere-libs.git
	branch = master
[submodule "lib/libtesla"]
	path = lib/libtesla
	url = git@github.com:WerWolv/libtesla.git
	branch = master
